/* -------------------------- */

/* GLOBAL START */

/* GLOBAL END */

/* -------------------------- */

/* HOME START */

/* HOME END */

/* -------------------------- */

/* MENU START */

.menu-route .menu-title {
  display: block;
  height: 600px;
  background-color: #f5f5f5;
  
 
}
.pizza-image{
    width: 600px;
    height: 300px;
    margin-top: 46px;
    clip-path: polygon(0 0,0 100%,100% 100%);
}

.menu-route {
  background-color: #434343;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: corbel;
  
}
.menu-route .heading {
  text-align: center;
  font-size: 50px;
  color: #434343;
  font-weight: bold;
  margin-top: 40%;
  font-family: Bell MT;
  margin-bottom: 1%;
}
.menu-route .p {
  text-align: center;
  color: #C5D201;
  font-size: 20px;
  margin-bottom: 10.5%;
  margin-top: 1%;
}
.pizza{
    display: grid;
    grid-template-columns: 200px 200px ;
    
}
.pasta{
    display: grid;
    grid-template-columns: 200px 200px;
}
.menu{
    color: #f5f5f5;
}
/* MENU END */

/* -------------------------- */

/* LOGIN START */

/* LOGIN END */

/* -------------------------- */

/* REGISTER START */

/* REGISTER END */

/* -------------------------- */

/* ABOUT US START */

/* ABOUT US END */

/* -------------------------- */

/* CONTACT US START */

/* CONTACT US END */

/* -------------------------- */

/* RESPONSIVE START */

/* Small devices (mobile, 700px and down) */
@media (max-width: 700px) {
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 910px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* RESPONSIVE END */

/* -------------------------- */
